In [5]:
import findspark
findspark.init()

In [12]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, udf

In [14]:
spark = SparkSession.builder.master("local[1]") \
    .appName('learnomate.org') \
    .getOrCreate()

In [16]:
readData = spark.read.csv("E:\Hadoop_Training_Docs\world_country_and_usa_states_latitude_and_longitude_values.csv")

In [17]:
readData.show()

+------------+----------+-----------+--------------------+--------------+------------------+-------------------+--------------------+
|         _c0|       _c1|        _c2|                 _c3|           _c4|               _c5|                _c6|                 _c7|
+------------+----------+-----------+--------------------+--------------+------------------+-------------------+--------------------+
|country_code|  latitude|  longitude|             country|usa_state_code|usa_state_latitude|usa_state_longitude|           usa_state|
|          AD| 42.546245|   1.601554|             Andorra|            AK|         63.588753|        -154.493062|              Alaska|
|          AE| 23.424076|  53.847818|United Arab Emirates|            AL|         32.318231|         -86.902298|             Alabama|
|          AF|  33.93911|  67.709953|         Afghanistan|            AR|          35.20105|         -91.831833|            Arkansas|
|          AG| 17.060816| -61.796428| Antigua and Barbuda|            AZ|         34.048928|        -111.093731|             Arizona|
|          AI| 18.220554| -63.068615|            Anguilla|            CA|         36.778261|        -119.417932|          California|
|          AL| 41.153332|  20.168331|             Albania|            CO|         39.550051|        -105.782067|            Colorado|
|          AM| 40.069099|  45.038189|             Armenia|            CT|         41.603221|         -73.087749|         Connecticut|
|          AN| 12.226079| -69.060087|Netherlands Antilles|            DC|         38.905985|         -77.033418|District of Columbia|
|          AO|-11.202692|  17.873887|              Angola|            DE|         38.910832|          -75.52767|            Delaware|
|          AQ|-75.250973|  -0.071389|          Antarctica|            FL|         27.664827|         -81.515754|             Florida|
|          AR|-38.416097| -63.616672|           Argentina|            GA|         32.157435|         -82.907123|             Georgia|
|          AS|-14.270972|-170.132217|      American Samoa|            HI|         19.898682|        -155.665857|              Hawaii|
|          AT| 47.516231|  14.550072|             Austria|            IA|         41.878003|         -93.097702|                Iowa|
|          AU|-25.274398| 133.775136|           Australia|            ID|         44.068202|        -114.742041|               Idaho|
|          AW|  12.52111| -69.968338|               Aruba|            IL|         40.633125|         -89.398528|            Illinois|
|          AZ| 40.143105|  47.576927|          Azerbaijan|            IN|         40.551217|         -85.602364|             Indiana|
|          BA| 43.915886|  17.679076|Bosnia and Herzeg...|            KS|         39.011902|         -98.484246|              Kansas|
|          BB| 13.193887| -59.543198|            Barbados|            KY|         37.839333|         -84.270018|            Kentucky|
|          BD| 23.684994|  90.356331|          Bangladesh|            LA|         31.244823|         -92.145024|           Louisiana|
+------------+----------+-----------+--------------------+--------------+------------------+-------------------+--------------------+
only showing top 20 rows